{% extends 'baseBotoes.html' %}

{% load static %}

{% block titulo %} Grafico de Vendas {% endblock %}

{% block conteudo %}


<div class="container mt-4 ">
  <h2 class="text-center rounded bg-light bg-opacity-75">Relatório de Vendas</h2>
  <div class="row p-2 rounded bg-light bg-opacity-75">
      <div class="col-md-6">
          
          <img src="{{ grafico_geral }}" alt="Gráfico Geral" class="img-fluid">
      </div>
      <div class="col-md-6">
          
          <img src="{{ grafico_individual }}" alt="Gráfico Individual" class="img-fluid">
      </div>
  </div>
</div>



{% endblock %}